name: actions/ci

on: [push]

jobs:
  test:
    strategy:
      matrix:
        image: ["latest", "24.04", "22.04", "20.04"]
    runs-on: ubuntu-latest
    container:
      image: ubuntu:${{ matrix.image }}
    steps:
      - name: Install dependencies
        run: |
          apt-get update
          apt-get install -y git build-essential
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.23.1
          check-latest: true
      - name: Run Test
        run: make test
