name: actions/release

on:
  push:
    tags:
    - '*'

jobs:
  release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - image: 20.04
            codename: focal
          - image: 24.04
            codename: noble
    container:
      image: ubuntu:${{ matrix.image }}
    steps:
      - uses: actions/checkout@v5
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.1
          check-latest: true
      - name: Make Debs
        run: |
          make debs
          echo DEB_VERSION=$(git describe --tags --always | sed s/^v//) >> $GITHUB_ENV
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3.7
      - name: Push to packagecloud.io
        env:
          PACKAGECLOUD_TOKEN: ${{ secrets.PACKAGECLOUD_TOKEN }}
          ARTIFACT: log-shuttle_${{ env.DEB_VERSION }}_amd64.deb
        run: |
          gem install package_cloud
          package_cloud push heroku/open/ubuntu/${{ matrix.codename }} ./${{ env.ARTIFACT }}
