name: actions/release

on: [push]

jobs:
  release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - image: 20.04
            codename: focal
          - image: 22.04
            codename: jammy
          - image: 24.04
            codename: noble
    container:
      image: ubuntu:${{ matrix.image }}
    steps:
      - name: Install dependencies
        run: |
          apt-get update
          apt-get install -y git build-essential ruby ruby-dev
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.23.1
          check-latest: true
      - name: Make Debs
        run: |
          make debs
          echo DEB_VERSION=$(git describe --tags --always | sed s/^v//) >> $GITHUB_ENV
      - name: Push to packagecloud.io
        env:
          PACKAGECLOUD_TOKEN: ${{ secrets.PACKAGECLOUD_TOKEN }}
          ARTIFACT: log-shuttle_${{ env.DEB_VERSION }}_amd64.deb
        run: |
          gem install package_cloud
